.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 425px;
}

.table {
  border-collapse: collapse;
}

.table__row,
.table__head {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.table__header .table__head {
  text-align: center;
}

tbody .table__head {
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1.2;
}

/* Button styling */

.table-btn {
  display: inline-block;
  width: 100%;
  max-width: 280px;
  margin-top: auto;
  color: white;
  background-color: red;
}

.table-btn:hover,
.table-btn:focus {
  outline: none;
}

/* @media  screen and (max-width: 498px) {
  .table-wrapper {
    overflow-x: auto;
  }

  .table {
    overflow-x: auto;
  }
} */