.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: tomato;
}

/* Button styling */

.table-btn {
  display: inline-block;
  width: 100%;
  max-width: 280px;
  color: white;
  background-color: red;
}